{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}



<form style="width:50% ; margin : auto" method="post" novalidate class="lh-sm ">
    <h1>{{type}} Page</h1>
    {% csrf_token %}
    {% if form.non_field_errors %}
    {% for er in form.non_field_errors %}
    <p class="bg-danger text-white p-3">{{er}}</p>
    {% endfor %}
    {% endif %}
    <!-- {{form | crispy}} -->
    {% for fm in form%} {{fm.label_tag}} {{fm}} <small class="text-danger">
        <p>{{fm.errors|striptags}}</p>
    </small>
    {% endfor %}
    <button class="btn btn-danger rounded-0 mb-5" type="submit">{{type}}</button>
</form>

{% endblock %}